body{
	margin:0;
	padding:0;
	box-sizing:border-box; 
	background:#fff;    
}	
.main{
	background:url(https://media4.s-nbcnews.com/j/newscms/2020_41/1615989/4yo-gift-guide-kb-main-2-201005_11f103f7cdc0198a9c2cf06404e90800.fit-1240w.jpg); 
	height:70vh;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;  
	box-shadow:0px 0px 20px #1f1f1f;
 

}
.bg{
	
	background:linear-gradient(70deg,magenta,purple);
	opacity:.4;
	height:70vh;
	/*border-radius: 0px 0px 140px 0;*/
	  
	 	
}
.bg1{
	height:50vh;
	background:linear-gradient(70deg,magenta,purple);
	opacity:.4; 
}
.toy{
	width:300px;
	border:none;
	outline: none;
}
.card{	
	border:none;
	outline: none;
}
.heading1{
	text-shadow:0px 0px 10px ; 
	font-weight:900; 
}
.toy img:hover{
	 transform: scale(1.1);
	 transition-duration:.5s; 
}
.card-title{
	margin-top:15px; 
}
.btn{
	background-color:#fff;
	height:40px;
	box-shadow:-2px 2px 23px 0px #692ed4;
	width:150px;
	border-radius:0;
	color:black;
	background-color:#692ed4; 
	color:#fff;
}
.btn:hover{
	
}
#hero2{
  background: url(https://images.unsplash.com/photo-1543886151-3bc2b944c718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  height:50vh;
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}